.header .row {
    height: 60px;
    background-color: #a58013;
    border-bottom-style: ridge;
    color: whitesmoke;
}

.nav-area {
    border-right-style: ridge;
}

.logo {
    padding-top: 10px;
    display: flex;
    align-items: center;
    height: 50px;
}

.user-info {
    display: flex;
    align-items: center;
}
.logo-image {
    padding-left: 10px;
    max-width: 100%;
    max-height: 100%;
}